extends layout

block content
  h1= title
  p Welcome to #{title}
  div(ng-view)



  div.hero
      div.row
          div(ng-if="photos.length == 1").end 1 photo found
          div(ng-if="photos.length > 1").end {{photos.length}} photo's found
          p {{error}}

      div.row

        form(name="searchPhoto",method="POST",ng-submit="doSearch(searchKey)").center
            input(ng-model='searchKey',type='search',name='search', required, placeholder="enter your search phrase").form-control.input-lg
            button(type='submit') search
      p
      div
            div.row.center
                div(ng-repeat="photo in photos").box
                    img(ng-src="{{photo.url}}",style="width:auto;height:auto").col
                    div.col.phototitle {{photo.title}}
