doctype html

html(ng-app="searchApp")
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/index.css')
    link(rel='stylesheet', href='/stylesheets/flexboxgrid.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    //script(src='https://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js')
    script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.2.24/angular.js')
    script(src='/core.js')

    body(ng-controller="MainController")
      div.wrap
        block content

      div.box
          p By Jonathan Kapteijn