<!doctype html>

<html ng-app="searchApp">
<head>
    <!-- META -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1"><!-- Optimize mobile viewport -->

    <title>Node/Angular Todo App</title>

    <!-- SCROLLS -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"><!-- load bootstrap -->
    <style>
        html 					{ overflow-y:scroll; }
        body 					{ padding-top:50px; }
        #photo-list				{ margin-bottom:30px; }
    </style>

    <!-- SPELLS -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script><!-- load jquery -->
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.min.js"></script><!-- load angular -->
    <script src="core.js"></script>

</head>
<!-- SET THE CONTROLLER AND GET ALL TODOS -->
<body ng-controller="mainController">
<div class="container">

    <!-- HEADER AND TODO COUNT -->
    <div class="jumbotron text-center">
        <h1>Photos: <span class="label label-info">{{ photos.length }}</span></h1>
    </div>

    <!-- TODO LIST -->
    <div id="photo-list" class="row">
        <div class="col-sm-4 col-sm-offset-4">

            <!-- LOOP OVER THE PHOTOS IN $scope.photos -->
            <div ng-repeat="photo in photos">
                <label>
                    {{ photo.title }}
                </label>
            </div>

        </div>
    </div>

    <!-- FORM TO SEARCH FOR PHOTOS -->
    <div id="search-form" class="row">
        <div class="col-sm-8 col-sm-offset-2 text-center">
            <form>
                <div class="form-group">

                    <!-- BIND THIS VALUE TO formData.text IN ANGULAR -->
                    <input type="text" class="form-control input-lg text-center" placeholder="Search for a photo" ng-model="formData.text">
                </div>

                <!-- doSearch() WILL SEARCH FOR PHOTOS -->
                <button type="submit" class="btn btn-primary btn-lg" ng-click="doSearch()">Search</button>
            </form>
        </div>
    </div>

</div>

</body>
</html>